<!DOCTYPE html>
<html lang="en">
<!--
 Name: Devon Hills, devon_hills@student.uml.edu
 Affiliation: Computer Science Student, UMass Lowell
 Course: Comp.4610, GUI Programming I
 Updated: 12/11/2017
 Description: This is the html for the final GUI Programming project - a web app acting as an online gallery and image portfolio
-->


<!--

----------- Metadata

-->
<head>
    <meta charset="UTF-8">
    <title>Final Project</title>
    <link rel="icon" href="https://raw.githubusercontent.com/devonjhills/GUI-Programming/master/images/favicon.png">

    <!--bootstrap and jQuery-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!--theme-->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css" rel="stylesheet">

    <!-- fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- angular and ui-bootstrap-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="https://code.angularjs.org/1.4.8/angular-route.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

    <!-- angular lightbox -->
    <script src="../../js/angular-bootstrap-lightbox.min.js"></script>

    <!-- caman image editing -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js"></script>

    <!-- my styling and js -->
    <link rel="stylesheet" href="../../css1/final.css" type="text/css">
    <script src="../../js/final.js"></script>

</head>

<body>

<!--

----------- Navbar

-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <img src="https://raw.githubusercontent.com/devonjhills/GUI-Programming/master/images/favicon.png"
                     alt="Nav">
            </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="../../index.html">Home</a></li>
                <li class="active"><a href="../../461f2017/final/final.html">Final Project</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href=mailto:devon_hills@student.uml.edu>Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--

----------- Header: Intro + Carousel

-->

<div class="container-fluid">
    <div class="row is-flex">
        <div class="col-sm-3 content">
            <div style="text-align: center" class="well well-sm">
                <h4>Photography Portfolio</h4>

                <hr>

                <p>A sample portfolio website for showcasing photography.</p>
                <p>Click on gallery thumbnails to open a full screen view with button/keyboard navigation, and options
                    for editing, downloading, and social media sharing.</p>
                <p>Images can be sorted, added, and removed using the various options below.</p>
            </div>
        </div>

        <div class="col-sm-9" align="center">
            <div id="myCarousel" class="startrow mycar carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>


                <div class="carousel-inner">
                    <div class="item active">
                        <img src="https://i.imgur.com/tXtwrPdh.jpg"
                             alt="image1">
                    </div>

                    <div class="item">
                        <img src="https://i.imgur.com/QguApMAh.jpg"
                             alt="image2">
                    </div>

                    <div class="item">
                        <img src="https://i.imgur.com/fNXT1wch.jpg"
                             alt="image3">
                    </div>
                </div>


                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

<hr>

<!--

----------- Gallery

-->
<div ng-app="myApp2" ng-controller="GalleryCtrl" class="container-fluid">

    <div class="panel panel-default">

        <div class="panel-heading">
            <!-- images from https://imgur.com/gallery/hOF1g -->
            <h3 style="text-align: center">Gallery
                <small>Click thumbnails below for full screen viewing and navigation</small>
            </h3>
        </div>

        <div class="panel-group">

            <div class="panel-body">
                <ul style="text-align: center" class="gallery gallery1">
                    <li ng-repeat="image in images | orderBy: galleryOrder:direction">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <a ng-click="openLightboxModal($index)">
                                    <img ng-src="{{image.url}}" class="img-rounded">
                                </a>
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-default btn-xs" data-ng-click="removeItem(image)">
                                    <i class="fa fa-times" aria-hidden="true"></i> Remove
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row is-flex">
                <div class="col-sm-6">
                    <div class="form-group  sortingOptions">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">Sort By</span>
                            <select ng-model="galleryOrder" class="form-control">
                                <option value="title">Title</option>
                                <option value="url">File Name</option>
                            </select>

                            <span class="input-group-addon">
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="direction" name="direction" checked>
                                        ascending
                                    </label>

                                    <label class="radio-inline">
                                        <input type="radio" ng-model="direction" name="direction" value="reverse">
                                        descending
                                    </label>
                                </span>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">Upload a new image</span>
                            <input type="url" class="form-control" placeholder="Enter Image URL"
                                   data-ng-model="image">
                            <div class="input-group-btn">
                                <button style="width: 75px" class="btn btn-success"
                                        data-ng-click="addItem(image)">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<!--

----------- Image editing

-->

<div class="modal fade" id="myModal" role="dialog">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-close" style="font-size:36px"></i>
                </button>

                <h4 class="modal-title">Image Editor
                    <small>Adjust values with sliders to the left or select from preset filters below</small>
                </h4>

            </div>

            <div class="modal-body">

                <div class="container-fluid">
                    <div class="row is-flex">

                        <div class="col-sm-3">
                            <label for="hue">Hue</label>
                            <input class="slider" id="hue" name="hue" type="range" min="0" max="300" value="0">

                            <label for="contrast">Contrast</label>
                            <input class="slider" id="contrast" name="contrast" type="range" min="-20" max="20"
                                   value="0">

                            <label for="vibrance">Vibrance</label>
                            <input class="slider" id="vibrance" name="vibrance" type="range" min="0" max="400"
                                   value="0">

                            <label for="sepia1">Sepia</label>
                            <input class="slider" id="sepia1" name="sepia" type="range" min="0" max="100" value="0">

                            <hr>

                            <div class="btn-group-vertical">
                                <button id="resetbtn" class="btn btn-success">Reset Photo</button>

                                <button id="savebtn" class="btn btn-success">Download Image</button>
                            </div>
                        </div>

                        <div class="col-sm-9 img-responsive" id="photoFilterCanvasContainer">
                            <!-- <canvas class="img-responsive" id="canvas"></canvas> -->
                        </div>

                    </div>
                </div>

                <hr>

                <div class="container-fluid">
                    <div class="row is-flex">

                        <div class="col-sm-3 btn-group-vertical">
                            <button id="brightnessbtn" class="btn btn-primary">Brightness</button>
                            <button id="noisebtn" class="btn btn-primary">Noise</button>

                            <button id="sepiabtn" class="btn btn-primary" style="display: none">Sepia</button>
                            <button id="contrastbtn" class="btn btn-primary" style="display: none">Contrast</button>

                            <button id="colorbtn" class="btn btn-primary">Colorize</button>
                            <button id="hdrbtn" class="btn btn-primary">HDR Effect</button>
                            <button id="oldpaperbtn" class="btn btn-primary">Old Paper</button>
                            <button id="pleasantbtn" class="btn btn-primary">Pleasant</button>
                        </div>

                        <div class="col-sm-3 btn-group-vertical">
                            <button id="vintagebtn" class="btn btn-primary">Vintage</button>
                            <button id="lomobtn" class="btn btn-primary">Lomo</button>
                            <button id="embossbtn" class="btn btn-primary">Emboss</button>
                            <button id="tiltshiftbtn" class="btn btn-primary">Tilt Shift</button>
                            <button id="radialblurbtn" class="btn btn-primary">Radial Blur</button>
                            <button id="edgeenhancebtn" class="btn btn-primary">Edge Enhance</button>
                        </div>

                        <div class="col-sm-3 btn-group-vertical">
                            <button id="posterizebtn" class="btn btn-primary">Posterize</button>
                            <button id="claritybtn" class="btn btn-primary">Clarity</button>
                            <button id="orangepeelbtn" class="btn btn-primary">Orange Peel</button>
                            <button id="sincitybtn" class="btn btn-primary">Sin City</button>
                            <button id="sunrisebtn" class="btn btn-primary">Sun Rise</button>
                            <button id="crossprocessbtn" class="btn btn-primary">Cross Process</button>
                        </div>

                        <div class="col-sm-3 btn-group-vertical">
                            <button id="hazydaysbtn" class="btn btn-primary">Hazy</button>
                            <button id="lovebtn" class="btn btn-primary">Love</button>

                            <button id="grungybtn" class="btn btn-primary" style="display: none">Grungy</button>

                            <button id="jarquesbtn" class="btn btn-primary">Jarques</button>
                            <button id="pinholebtn" class="btn btn-primary">Pin Hole</button>
                            <button id="oldbootbtn" class="btn btn-primary">Old Boot</button>
                            <button id="glowingsunbtn" class="btn btn-primary">Glow Sun</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Footer -->
<footer class="footer">
    <div class="container-fluid text-muted text-right">
        All images sampled from <a target="_blank" href="https://imgur.com/gallery/hOF1g">this online gallery</a>
    </div>
</footer>


</body>

</html>
