/*
Name: Devon Hills, devon_hills@student.uml.edu
Affiliation: Computer Science Student, UMass Lowell
Course: Comp.4610, GUI Programming I
Updated: 11/5/2017
Description: Styling for index pages using Bootstrap
*/

/* needed html and body spacing */
html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* navbar styling */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-brand {
    padding: 0;
    margin-right: 5px;
}

.navbar-brand > img {
    margin-left: 5px;
    height: 100%;
    padding: 2px;
    width: auto;
}

.content {
    border-right: 1px solid #3B4044;
}

.row h4 {
    margin-top: 0;
}

h3 {
    margin-top: 0;
}

hr {
    height: 1px;
    background-color: #3B4044;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

/* footer styling */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
    background-color: #222222;
}

.footer a:hover {
    color: black;
}

/* Flexbox styling */
.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* end flex styling */

/* final styling*/
.carousel img {
    max-height: 400px;
    max-width: 600px;
    object-fit: contain;
}

.carousel {
    max-height: 400px;
    max-width: 600px;
    object-fit: contain;
}

.startrow {
    max-height: 400px;
}

.img-thumbnail {
    margin-bottom: 10px;
}


.lightbox-nav {
    position: relative;
    margin-bottom: 12px;
    height: 22px;
    text-align: center;
    font-size: 0
}

.lightbox-nav .btn-group {
    vertical-align: top
}

.lightbox-nav .close {
    position: absolute;
    top: 0;
    right: 0
}

.lightbox-image-container {
    position: relative;
    text-align: center
}

.lightbox-image-caption {
    position: absolute;
    top: 0;
    left: 0;
    margin: .5em .9em;
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
    text-align: left;
    text-shadow: .1em .1em .2em rgba(255, 255, 255, .5)
}

.lightbox-image-caption span {
    padding-top: .1em;
    padding-bottom: .1em;
    background-color: rgba(255, 255, 255, .75);
    box-shadow: .4em 0 0 rgba(255, 255, 255, .75), -.4em 0 0 rgba(255, 255, 255, .75)
}

a {
    cursor: pointer;
}

nav {
    margin-bottom: 2em;
}

.gallery {
    padding: 0;
}

.gallery li {
    display: inline-block;
    margin: 0 1em 1em 0;
    list-style-type: none;
    text-align: center;
}

/* standard thumbnail size */
.gallery1 img {
    width: 90px;
    height: 90px;
}

.mywell {
    margin-left: 10px;
    margin-right: 10px;
}



/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .content {
        height: auto;
        padding: 15px;
        border-right: none;
    }

    body {
        padding-top: 60px;
    }

    .row {
        height: auto;
    }

    .row.is-flex {
        flex-direction: column;
    }

    .gallery li {
        margin: 0;
    }

    /* thumbnail size for mobile screens */
    .gallery1 img {
        width: 75px;
        height: 75px;
    }
}


/*TEST*/
form {
    text-align: center;
}

/* Styles for  URL box */
.url-box {
    background-color: rgba(0, 0, 0, 0.27);
    display: inline-block;
    height: 50px;
    border: 4px dashed;
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
}

#go {
    height: 50px;
    text-align: center;
    margin-left: 10px;
}

#reset {
    height: 40px;
    text-align: center;
    margin: 0 0 10px 0;
}

/* Styles for image container*/

#imageContainer {
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    max-height: 480px;
    max-width: 800px;
    object-fit: contain;
}

#imageContainer img {
    max-height: 480px;
    max-width: 800px;
    object-fit: contain;
}

/* Styles for sliders*/
.sliders_container {
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
}

.sliders_container p label {
    text-align: center;
    margin-top: 10px;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    /*fix for FF unable to apply focus style bug */
    border-radius: 5px;
    /*required for proper track sizing in FF*/
}

input[type=range]::-webkit-slider-runnable-track {
    height: 7px;
    background: #ABB7B7;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    margin-top: -6px;
    vertical-align: middle;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:hover {
    cursor: pointer;
}
